<header class=" w-full h-20 p-2 bg-blue-500 flex items-center justify-around gap-12 px-7 fixed z-10 ">

    <div class="flex items-center gap-4 mr-4">
        <img src="/assets/imgs/logo.png" class="w-15 h-15 inline-block">
        <h1 class="text-4xl inline-block text-white font-bold">QueridoLinks</h1>
    </div>

    <form class="flex items-center gap-1  p-1 rounded-sm" >
        <input type="text" name="" id="" placeholder="Buscar em Querido Links" class="w-180 h-11 p-2 bg-white rounded-sm">
        <button class=" w-11 h-11 bg-white bg-[url(/assets/imgs/procurar.png)] bg-cover rounded-sm"  ></button>
    </form>

   
    <a href="" class="hover:cursor-pointer"><img src="/assets/imgs/whatsapp.png" class="w-10 h-9"  alt=""></a>
    
   
</header>
