<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="w-screen m-auto    bg-[rgba(255,255,255,0.77)] min-h-80" > 
        <%- include('includes/header') %>


    </main>
</body>
</html>