<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autenticacao requerida</title>
</head>
<body>
    <form method="POST" action="/autentica">
        <label for="">digite uma senha</label>
        <input type="password" name="senha" id="" class="border-2 ">
        <button type="submit" class="border-2 bg-amber-100 text-amber-900">ENVIAR</button>
    </form>
</body>
</html>