@import url('./tipografia.css');



.body{
   font-family: "Poppins", sans-serif;
   
}

.ver-todos{
   color: #222222;
   font-weight: bold;
}

.ver-todos:hover{
   color: blue;
   text-decoration: solid;
   text-decoration-line: underline;
}

.item-oferta{
    width: 120px;
    height:120px;
    font-family: "Poppins", sans-serif;
    border-radius: 2px;
   
}

.item-oferta>img:hover, .item-destaque>img:hover{
   border: 3px solid rgb(255, 94, 0);
   transition: ease-in-out 0.1s;
}

.item-oferta>img{
   box-shadow: 0.5px 0.5px 3px black;
   border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  min-width: 70%;
  max-width: 80%;
  min-height: 55%;
  max-height: 70%;
}

.item-destaque{
  width: 40%;
  overflow: hidden;
   
}


.item-destaque>img{
   box-shadow: 0.5px 0.5px 3px black;
   border-radius: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5px;
   min-width: 90%;
  max-width: 100%;
 
}

.item-destaque>p{
   text-align: center;
}


.bebasNeue{
    font-family: 'BebasNeue-Regular';
}


@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('/assets/fonts/BebasNeue-Regular.ttf') format('trueType');
    font-size: normal;
    font-display: swap;
 }


 .carrossel{
    transition: 2s;
 }

 .navegacao{
    position: absolute;
    display: flex;
    gap: 28px;
    top: 87%;
    left: 38%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
 }

 .navegacao > *{
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: 2s;
    background-color: #3b05ed00;
    border: 2.5px solid #BEBA37;
    appearance: none;
    border-radius: 50%;
 }

 .navegacao > *:checked{
    background-color: white;
 }

 .item-categorias:last-of-type{
  display: none;
 }

 .item-categorias{
   width: 90px;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
 }

 .item-categorias:hover{
   transition: ease 0.1s;
   border-radius: 10px;
   color: blue; 
 }
 
 .item-categorias>a{
  
  width: 100%;
  height: 100%;
 }

 .item-categorias>a>img{
  display: block;
  margin: auto;
   width: 63%;
   height: 85%;
   
 }


 @media (min-width: 768px ) and (max-width: 1024px){

  .navegacao{
    display: none;
  }

   .item-oferta{
      width: 160px;
      height:160px;
  }

  .item-oferta>img{
   min-width: 70%;
   max-width: 85%;
   min-height: 55%;
   max-height: 80%;
   margin-top: 4px;
  }

  
  .item-destaque>img{
   max-width: 75%;
   min-width: 70%;
  }

  .item-destaque>p{
   font-size: larger;
   margin-top: 3px;
}

.item-categorias:last-of-type{
  display: flex;
 }


  .item-categorias{
   
   width: 110px;
   height: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 4px;
 }

 .item-categorias>a{
  
  width: 100%;
  height: 100%;
 }

 .item-categorias>a>img{
  display: block;
  margin: auto;
  width: 70%;
  height: 80%;
   
   
 }

 }



 @media (min-width: 1024px){
   .item-oferta{
      width: 150px;
      height:150px;
  }

  .item-oferta>img{
   min-width: 70%;
   max-width: 85%;
   min-height: 55%;
   max-height: 80%;
   margin-top: 4px;
  }

  .item-oferta>p{
   font-size: 20px;
  }

  .item-oferta>img{
   min-width: 70%;
   max-width: 85%;
   min-height: 55%;
   max-height: 80%;
   margin-top: 4px;
  }

  .item-destaque{
   width: 12%;
 }

 
 

  
  .item-destaque>img{
   max-width: 95%;
   min-width: 90%;
  }

  .item-destaque>p{
   font-size: large;
   margin-top: 3px;
}

.item-categorias:last-of-type{
  display: flex;
 }
.item-categorias{
  
   width: 100px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
   
 }

 .item-categorias>a{
  
  width: 100%;
  height: 100%;
 }

 .item-categorias>a>img{
  display: block;
  margin: auto;
  width: 70%;
  height: 80%;
   
   
 }

}



 
 