.item-oferta{
    width: 250px;
    height:230px;
    
}

.item-oferta>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  min-width: 85%;
  max-width: 90%;
  min-height: 75%;
  max-height: 80%;
}

.bebasNeue{
    font-family: 'BebasNeue-Regular';
}


@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('/assets/fonts/BebasNeue-Regular.ttf') format('trueType');
    font-size: normal;
    font-display: swap;
 }


 .carrossel{
    transition: 2s;
 }

 .navegacao{
    position: absolute;
    display: flex;
    gap: 28px;
    top: 87%;
    left: 38%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
 }

 .navegacao > *{
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: 2s;
    background-color: #3b05ed00;
    border: 2.5px solid #BEBA37;
    appearance: none;
    border-radius: 50%;
 }

 .navegacao > *:checked{
    background-color: white;
 }

 